In [2]:
import seaborn as sns
import pandas as pd
import numpy as np

In [4]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

1.if sepal length < 5.1, then label 0;

2.otherwise if sepal width > 3.3 and sepal length < 5.8, then label 1;

3.otherwise if sepal width > 3.3 and petal length > 5.1, then label 2;

4.otherwise if sepal width > 3.3, petal length < 1.6 and either sepal length < 6.4 or petal width < 1.3, then label 3;

5.otherwise if sepal width > 3.3 and either sepal length < 6.4 or petal width < 1.3, then label 4;

6.otherwise if sepal width > 3.3, then label 5;

7.otherwise label 6

#### We will be checking by time 

We'll be using 1.pd.apply 2. .loc[] 3. np.where() 4. np.Select()

In [5]:
%%timeit
def rules(row):
  if row['sepal_length'] < 5.1:
    return 0
  elif row['sepal_width'] > 3.3:
    if row['sepal_length'] < 5.8:
      return 1
    elif row['petal_length'] > 5.1:
      return 2
    elif (row['sepal_length'] < 6.4) or (row['petal_width'] < 1.3):
      if row['petal_length'] < 1.6:
        return 3
      return 4
    return 5
  return 6

iris['label'] = iris.apply(rules, 1)

7.71 ms ± 873 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [6]:
%%timeit
l1 = []
for i in range(100):
    l1.append(i)

12.4 µs ± 434 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [9]:
iris[iris['petal_length'] > 5.1 ]

     sepal_length  sepal_width  petal_length  petal_width    species  label
100           6.3          3.3           6.0          2.5  virginica      6
102           7.1          3.0           5.9          2.1  virginica      6
103           6.3          2.9           5.6          1.8  virginica      6
104           6.5          3.0           5.8          2.2  virginica      6
105           7.6          3.0           6.6          2.1  virginica      6
107           7.3          2.9           6.3          1.8  virginica      6
108           6.7          2.5           5.8          1.8  virginica      6
109           7.2          3.6           6.1          2.5  virginica      2
111           6.4          2.7           5.3          1.9  virginica      6
112           6.8          3.0           5.5          2.1  virginica      6
115           6.4          3.2           5.3          2.3  virginica      6
116           6.5          3.0           5.5          1.8  virginica      6
117           7.7          3.8           6.7          2.2  virginica      2
118           7.7          2.6           6.9          2.3  virginica      6
120           6.9          3.2           5.7          2.3  virginica      6
122           7.7          2.8           6.7          2.0  virginica      6
124           6.7          3.3           5.7          2.1  virginica      6
125           7.2          3.2           6.0          1.8  virginica      6
128           6.4          2.8           5.6          2.1  virginica      6
129           7.2          3.0           5.8          1.6  virginica      6
130           7.4          2.8           6.1          1.9  virginica      6
131           7.9          3.8           6.4          2.0  virginica      2
132           6.4          2.8           5.6          2.2  virginica      6
134           6.1          2.6           5.6          1.4  virginica      6
135           7.7          3.0           6.1          2.3  virginica      6
136           6.3          3.4           5.6          2.4  virginica      2
137           6.4          3.1           5.5          1.8  virginica      6
139           6.9          3.1           5.4          2.1  virginica      6
140           6.7          3.1           5.6          2.4  virginica      6
143           6.8          3.2           5.9          2.3  virginica      6
144           6.7          3.3           5.7          2.5  virginica      6
145           6.7          3.0           5.2          2.3  virginica      6
147           6.5          3.0           5.2          2.0  virginica      6
148           6.2          3.4           5.4          2.3  virginica      2

In [10]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
%%timeit
iris['label'] = 6
iris.loc[iris['sepal_width'] > 3.3, 'label'] = 5
iris.loc[
  (iris['sepal_width'] > 3.3) & 
  ((iris['sepal_length'] < 6.4) | (iris['petal_width'] < 1.3)), 
  'label'] = 4
iris.loc[
  (iris['sepal_width'] > 3.3) & 
  ((iris['sepal_length'] < 6.4) | (iris['petal_width'] < 1.3)) & 
  (iris['petal_length'] < 1.6), 
  'label'] = 3
iris.loc[
  (iris['sepal_width'] > 3.3) & 
  (iris['petal_length'] > 5.1), 
  'label'] = 2
iris.loc[
  (iris['sepal_width'] > 3.3) & 
  (iris['sepal_length'] < 5.8), 
  'label'] = 1
iris.loc[
  (iris['sepal_length'] < 5.1), 
  'label'] = 0

16.7 ms ± 1.82 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [12]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
np.where((condition),True,Flase)
np.where((marks>50),Pass,fail)

In [13]:
%%timeit
iris['label'] = np.where(
  iris['sepal_length'] < 5.1,
  0,
  np.where(
    iris['sepal_width'] > 3.3,
    np.where(
      iris['sepal_length'] < 5.8,
      1,
      np.where(
        iris['petal_length'] > 5.1,
        2,
        np.where(
          (iris['sepal_length'] < 6.4) | (iris['petal_width'] < 1.3),
          np.where(
            iris['petal_length'] < 1.6,
            3,
            4
          ),
          5
        )
      )
    ),
    6
  )
)

1.65 ms ± 43.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [3]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [24]:
### 4. np.select(condlist, choicelist, default=0)
# it will only execute the choice(from list) if the first condition is true

In [5]:
%%timeit
rules = {
  0: (iris['sepal_length'] < 5.1),
  1: (iris['sepal_width'] > 3.3) & (iris['sepal_length'] < 5.8),
  2: (iris['sepal_width'] > 3.3) & (iris['petal_length'] > 5.1),
  3: (
    (iris['sepal_width'] > 3.3) & \
    ((iris['sepal_length'] < 6.4) | (iris['petal_width'] < 1.3)) & \
    (iris['petal_length'] < 1.6)
  ),
  4: (
    (iris['sepal_width'] > 3.3) & \
    ((iris['sepal_length'] < 6.4) | (iris['petal_width'] < 1.3))
  ),
  5: (iris['sepal_width'] > 3.3),
}

iris['label'] = np.select(rules.values(), rules.keys(), default=6)
#print(rules.values())

3.29 ms ± 264 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [22]:
dic = {1:'ALi',2:'Ahmad',3:'manan'}
print(dic.keys())
print(dic.values())

dict_keys([1, 2, 3])
dict_values(['ALi', 'Ahmad', 'manan'])